.fade-appear,
.fade-enter-active {
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.fade-leave-active {
    -webkit-animation-duration: 0.15s;
    animation-duration: 0.15s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.fade-appear,
.fade-enter-active {
    -webkit-animation-name: ivuFadeIn;
    animation-name: ivuFadeIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.fade-leave-active {
    -webkit-animation-name: ivuFadeOut;
    animation-name: ivuFadeOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.fade-appear,
.fade-enter-active {
    opacity: 0;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
.fade-leave-active {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
}
@-webkit-keyframes ivuFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes ivuFadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-webkit-keyframes ivuFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
@keyframes ivuFadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}
.move-up-appear,
.move-up-enter-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.move-up-leave-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.move-up-appear,
.move-up-enter-active {
    -webkit-animation-name: ivuMoveUpIn;
    animation-name: ivuMoveUpIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.move-up-leave-active {
    -webkit-animation-name: ivuMoveUpOut;
    animation-name: ivuMoveUpOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.move-up-appear,
.move-up-enter-active {
    opacity: 0;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.move-up-leave-active {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.move-down-appear,
.move-down-enter-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.move-down-leave-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.move-down-appear,
.move-down-enter-active {
    -webkit-animation-name: ivuMoveDownIn;
    animation-name: ivuMoveDownIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.move-down-leave-active {
    -webkit-animation-name: ivuMoveDownOut;
    animation-name: ivuMoveDownOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.move-down-appear,
.move-down-enter-active {
    opacity: 0;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.move-down-leave-active {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.move-left-appear,
.move-left-enter-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.move-left-leave-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.move-left-appear,
.move-left-enter-active {
    -webkit-animation-name: ivuMoveLeftIn;
    animation-name: ivuMoveLeftIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.move-left-leave-active {
    -webkit-animation-name: ivuMoveLeftOut;
    animation-name: ivuMoveLeftOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.move-left-appear,
.move-left-enter-active {
    opacity: 0;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.move-left-leave-active {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.move-right-appear,
.move-right-enter-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.move-right-leave-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.move-right-appear,
.move-right-enter-active {
    -webkit-animation-name: ivuMoveRightIn;
    animation-name: ivuMoveRightIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.move-right-leave-active {
    -webkit-animation-name: ivuMoveRightOut;
    animation-name: ivuMoveRightOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.move-right-appear,
.move-right-enter-active {
    opacity: 0;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.move-right-leave-active {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
@-webkit-keyframes ivuMoveDownIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes ivuMoveDownIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes ivuMoveDownOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
}
@keyframes ivuMoveDownOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
        opacity: 0;
    }
}
@-webkit-keyframes ivuMoveLeftIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@keyframes ivuMoveLeftIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
}
@-webkit-keyframes ivuMoveLeftOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
}
@keyframes ivuMoveLeftOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
        opacity: 0;
    }
}
@-webkit-keyframes ivuMoveRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes ivuMoveRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes ivuMoveRightOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
}
@keyframes ivuMoveRightOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        opacity: 0;
    }
}
@-webkit-keyframes ivuMoveUpIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@keyframes ivuMoveUpIn {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
}
@-webkit-keyframes ivuMoveUpOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
}
@keyframes ivuMoveUpOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(0);
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
        opacity: 0;
    }
}
.move-notice-appear,
.move-notice-enter-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.move-notice-leave-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.move-notice-appear,
.move-notice-enter-active {
    -webkit-animation-name: ivuMoveNoticeIn;
    animation-name: ivuMoveNoticeIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.move-notice-leave-active {
    -webkit-animation-name: ivuMoveNoticeOut;
    animation-name: ivuMoveNoticeOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.move-notice-appear,
.move-notice-enter-active {
    opacity: 0;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.move-notice-leave-active {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
@-webkit-keyframes ivuMoveNoticeIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@keyframes ivuMoveNoticeIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}
@-webkit-keyframes ivuMoveNoticeOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    70% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        height: auto;
        padding: 16px;
        margin-bottom: 10px;
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        height: 0;
        padding: 0;
        margin-bottom: 0;
        opacity: 0;
    }
}
@keyframes ivuMoveNoticeOut {
    0% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(0);
        transform: translateX(0);
        opacity: 1;
    }
    70% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        height: auto;
        padding: 16px;
        margin-bottom: 10px;
        opacity: 0;
    }
    100% {
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
        height: 0;
        padding: 0;
        margin-bottom: 0;
        opacity: 0;
    }
}
.ease-appear,
.ease-enter-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.ease-leave-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.ease-appear,
.ease-enter-active {
    -webkit-animation-name: ivuEaseIn;
    animation-name: ivuEaseIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.ease-leave-active {
    -webkit-animation-name: ivuEaseOut;
    animation-name: ivuEaseOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.ease-appear,
.ease-enter-active {
    opacity: 0;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}
.ease-leave-active {
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation-duration: 0.2s;
    animation-duration: 0.2s;
}
@-webkit-keyframes ivuEaseIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@keyframes ivuEaseIn {
    0% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
    100% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}
@-webkit-keyframes ivuEaseOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
@keyframes ivuEaseOut {
    0% {
        opacity: 1;
        -webkit-transform: scale(1);
        transform: scale(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }
}
.transition-drop-appear,
.transition-drop-enter-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.transition-drop-leave-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.transition-drop-appear,
.transition-drop-enter-active {
    -webkit-animation-name: ivuTransitionDropIn;
    animation-name: ivuTransitionDropIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.transition-drop-leave-active {
    -webkit-animation-name: ivuTransitionDropOut;
    animation-name: ivuTransitionDropOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.transition-drop-appear,
.transition-drop-enter-active {
    opacity: 0;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.transition-drop-leave-active {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.slide-up-appear,
.slide-up-enter-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.slide-up-leave-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.slide-up-appear,
.slide-up-enter-active {
    -webkit-animation-name: ivuSlideUpIn;
    animation-name: ivuSlideUpIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.slide-up-leave-active {
    -webkit-animation-name: ivuSlideUpOut;
    animation-name: ivuSlideUpOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.slide-up-appear,
.slide-up-enter-active {
    opacity: 0;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.slide-up-leave-active {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.slide-down-appear,
.slide-down-enter-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.slide-down-leave-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.slide-down-appear,
.slide-down-enter-active {
    -webkit-animation-name: ivuSlideDownIn;
    animation-name: ivuSlideDownIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.slide-down-leave-active {
    -webkit-animation-name: ivuSlideDownOut;
    animation-name: ivuSlideDownOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.slide-down-appear,
.slide-down-enter-active {
    opacity: 0;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.slide-down-leave-active {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.slide-left-appear,
.slide-left-enter-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.slide-left-leave-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.slide-left-appear,
.slide-left-enter-active {
    -webkit-animation-name: ivuSlideLeftIn;
    animation-name: ivuSlideLeftIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.slide-left-leave-active {
    -webkit-animation-name: ivuSlideLeftOut;
    animation-name: ivuSlideLeftOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.slide-left-appear,
.slide-left-enter-active {
    opacity: 0;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.slide-left-leave-active {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.slide-right-appear,
.slide-right-enter-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.slide-right-leave-active {
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-play-state: paused;
    animation-play-state: paused;
}
.slide-right-appear,
.slide-right-enter-active {
    -webkit-animation-name: ivuSlideRightIn;
    animation-name: ivuSlideRightIn;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.slide-right-leave-active {
    -webkit-animation-name: ivuSlideRightOut;
    animation-name: ivuSlideRightOut;
    -webkit-animation-play-state: running;
    animation-play-state: running;
}
.slide-right-appear,
.slide-right-enter-active {
    opacity: 0;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
.slide-right-leave-active {
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
}
@-webkit-keyframes ivuTransitionDropIn {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
    100% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes ivuTransitionDropIn {
    0% {
        opacity: 0;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
    100% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes ivuTransitionDropOut {
    0% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
}
@keyframes ivuTransitionDropOut {
    0% {
        opacity: 1;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
}
@-webkit-keyframes ivuSlideUpIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes ivuSlideUpIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes ivuSlideUpOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
}
@keyframes ivuSlideUpOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
}
@-webkit-keyframes ivuSlideDownIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@keyframes ivuSlideDownIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
}
@-webkit-keyframes ivuSlideDownOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
}
@keyframes ivuSlideDownOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(1);
        transform: scaleY(1);
    }
    100% {
        opacity: 0;
        -webkit-transform-origin: 100% 100%;
        transform-origin: 100% 100%;
        -webkit-transform: scaleY(0.8);
        transform: scaleY(0.8);
    }
}
@-webkit-keyframes ivuSlideLeftIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@keyframes ivuSlideLeftIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@-webkit-keyframes ivuSlideLeftOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    100% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
}
@keyframes ivuSlideLeftOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    100% {
        opacity: 0;
        -webkit-transform-origin: 0 0;
        transform-origin: 0 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
}
@-webkit-keyframes ivuSlideRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@keyframes ivuSlideRightIn {
    0% {
        opacity: 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
    100% {
        opacity: 1;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
}
@-webkit-keyframes ivuSlideRightOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    100% {
        opacity: 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
}
@keyframes ivuSlideRightOut {
    0% {
        opacity: 1;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }
    100% {
        opacity: 0;
        -webkit-transform-origin: 100% 0;
        transform-origin: 100% 0;
        -webkit-transform: scaleX(0.8);
        transform: scaleX(0.8);
    }
}
.collapse-transition {
    -webkit-transition: 0.2s height ease-in-out, 0.2s padding-top ease-in-out, 0.2s padding-bottom ease-in-out;
    transition: 0.2s height ease-in-out, 0.2s padding-top ease-in-out, 0.2s padding-bottom ease-in-out;
}